*{
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 0;
}
.log{
    width: 100vw;
    min-height:100vh ;
    position: relative;
    .img{
        width: 44vw;
        height: 100vh;
        object-fit: cover;
        filter: blur(6px);
        -webkit-filter: blur(6px);
    }
    .blank{
        background: linear-gradient(140deg,rgb(138, 148, 150)20%,rgb(78, 85, 87) 40%,rgb(152, 142, 156) 70%,white);
        position: absolute;
        right: 0;
        top: 0;
        width:56vw;
        height:100vh;
        filter: blur(6px);
        -webkit-filter: blur(6px);
    }
    main{
        z-index:1;
        width: 92vw;
        height: 94vh;
        background-color: white;
        display:flex;
        position: absolute;
        top: 3vh;
        left: 4vw;
        border-radius:1vw;
        box-shadow: 5px 5px 14px grey;
        .small_screen{
            width: 35vw;
            height: 94vh;
            object-fit: cover;
        }
        
        form{
            padding: 17vh 3vw ;
            display: flex;
            width:57vw ;
            flex-direction: row;
            align-content: flex-start;
            flex-wrap: wrap;
            position: relative;
            .span{
                position: absolute;
                top: 5vh;
                right: 35vw;
                h1{
                    position: relative;
                    display: inline-block;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                }
                h1:after{
                    position: absolute;
                    border-top: .15em solid rgb(170, 167, 167);
                    border-radius: 1rem;
                    content: '';
                    right: 60%;
                    left: 0;
                    bottom: -.34em;
                         }
            }
            div{
                display: flex;
                flex-direction: column;
                width: 20vw;
                //height: 4vh;
                margin-left: 3vw;
                margin-bottom: 4vh;
                label{
                font-size:medium;
                font-weight: 450;
                margin-left: 1.12vw;
                margin-bottom: 0.6vh;
                height: 4vh;
                }
                input, select{
                    min-width: 14vw;
                    height:5vh ;
                    outline: none;
                    margin-left: 1vw;
                    margin-right: 2vw;
                    //box-shadow: 3px 5px 9px grey;
                    border: 1px solid rgb(221, 215, 215);
                    padding: 1.1vh 0.5vw;
                    border-radius: 0.41vw;
                    //border: none;
                }
                .spanner{
                    margin-top: 1.1vh;
                    font-size: small;
                    font-weight: 500;
                }
            
            }
            #submit{
                position: absolute;
                bottom: 13vh;
                left: 12.5vw;
                border:none;
                border-radius: 1vw;
                box-shadow: 3px 2px 6px grey;
                background:linear-gradient(140deg,rgb(138, 148, 150)20%,rgb(78, 85, 87) 40%,rgb(152, 142, 156) 70%,white);
                width: 25vw;
                padding: 2.1vh;
                color: white;
                font-size: medium;
                font-weight: 500;
                cursor: pointer;
            }
            #submit:hover{
                opacity: 0.7;
            }
            footer{
                position: absolute;
                bottom: 3vh;
                left: 10vw;
                .link{
                    margin-bottom: 0.5vh;
                    color: grey;
                    text-decoration: none;
                    border-bottom: 1px solid grey;
                }
                .link:hover{
                    opacity: 0.75;
                }
            }
        }
        .login{
            display: block;
            span{
                right: 40vw;
            }
            .input{
                width: 34vw;
                height: 8vh;
                font-size: large;
                font-weight: 200;
            }
            p{
                padding-left: 4.6vw;
                input{
                    width: 3vw;
                    height: 3vh;
                }
            }
            #submit{
                bottom: 26vh;
            }
            footer{
                bottom: 20vh;
                left: 15vw;
            }
        }
    }

}